extends layout

block content
  div(class="container")
    div(class="row")
      div(id="messages", class="section col-xs-9")
        
      div(id="users", class="section col-xs-2")
    div(id="sendBox", class="row")
      div(class="col-xs-9")
        div(class="input-group")
          input(type="text", id="messageField", class="form-control", placeholder='Escribe tu mensaje...', maxlength="264")
          span(class="input-group-btn")
            button(type="button", class="btn btn-warning", onclick="sendMessage()")
              span(class="glyphicon glyphicon-send")
    
    script
      include /js/socket.io.js          
    script
      include /js/chat.js