doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/simple-sidebar.css')
    link(rel='stylesheet', href='/navbar/navbar.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    <!--script(src='/navbar/nav.js')-->
  body
    <!-- Navbar -->
    nav(class="navbar navbar-default navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(onclick="toggleSidebar()", class="navbar-brand", href="#")
            span #{title}  
            <!--span(class="caret")-->
        div(id="navbar", class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            each val in menu
                if val.tag === navbarActive 
                  li(class="active")
                    a(href=val.ref) #{val.tag}
                else
                  li
                    a(href=val.ref) #{val.tag}
          ul(class="nav navbar-nav navbar-right")
            li(class="dropdown")
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Bienvenido/a #{user.name}
                span(class="caret")
              ul(class="dropdown-menu")
                //li
                  //a(href="#") Configuración
                li
                  a(href="/logout") Desconectar
                      
    div(id="wrapper", class="")
      <!-- Sidebar -->
      div(id="sidebar-wrapper")
        ul(class="sidebar-nav")
          li(class="sidebar-brand")
            a(href="/management") Salas
          each val in sidemenu
            if val.tag === sideActive 
              li(class="active")
                a(href='#') #{val.tag}
            else
              li
                a(href='#') #{val.tag}
            
      <!-- Content -->
      div(id="page-content-wrapper")
        block content