doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    != messages()
    div(class="container")
      form(class="form-signin", method="post")
        h2(class="form-signin-heading") Conéctate
        label(for="inputUser", class="sr-only") Usuario
        input(type="text", id="inputUser", name="user", class="form-control", placeholder="Usuario", required="", autofocus="", maxlength="22")
        label(for="inputPassword", class="sr-only") Password
        input(type="password", id="inputPassword", name="password", class="form-control", placeholder="Password", required="", maxlength="22")
        button(class="btn btn-lg btn-warning btn-block", type="submit") Log in
        span ¿Aún no tienes cuenta en VSChat? 
          a(href="/register") Registrate