doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/register.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    != messages()
    div(class="container")
      form(class="form-signin", method="post")
        div(class="row")
          h2(class="form-signin-heading") Registro
        div(class="row")
          div(class="col-xs-6")
            label(for="inputUser", class="sr-only") Nombre de usuario
            input(type="text", id="inputUser", name="user", class="form-control", placeholder="Nombre de usuario", required="", autofocus="", maxlength="20")
          div(class="col-xs-6")
            label(for="inputEmail", class="sr-only") Email
            input(type="email", id="inputEmail", name="email", class="form-control", placeholder="Email", required="", autofocus="")
        div(class="row")
          div(class="col-xs-6")
            label(for="inputPassword", class="sr-only") Password
            input(type="password", id="inputPassword", name="password", class="form-control", placeholder="Password", required="", maxlength="20")
          div(class="col-xs-6")
            label(for="inputPasswordConfirm", class="sr-only") Confirmar Password
            input(type="password", id="inputPasswordConfirm", name="confpassword", class="form-control", placeholder="Confirmar Password", required="", maxlength="20")
        div(class="row")
          div(class="col-xs-4 col-xs-offset-4")
            button(id="rg-btn", class="btn btn-lg btn-warning btn-block", type="submit") Registrar