body {
  padding-top: 10px;
  background-color: #eee !important;
}

input {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

#messages {
	margin-left: 10px;
	margin-right: 10px;
}

#rg-btn {
	margin-top: 10px;
	max-width: 330px;
	min-width: 120px;
}