body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.section {
	margin-top: 0px !important;
}

#users {
	border-left: 2px solid #e3c038;
}

#messages {
	height: 60vh;
	overflow-y: auto;
	margin-right: 10px;
	margin-bottom: 10px;
}

.message {
	word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
}