.navbar-default {
  background-color: #9a751b;
  border-color: #e3c038;
}
.navbar-default .navbar-brand {
  color: #f1f1ec;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #f1f1ec;
}
.navbar-default .navbar-nav > li > a {
  color: #f1f1ec;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #e3c038;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #e3c038;
}
.navbar-default .navbar-toggle {
  border-color: #e3c038;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #e3c038;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f1f1ec;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f1f1ec;
}
.navbar-default .navbar-link {
  color: #f1f1ec;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f1f1ec;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #e3c038;
  }
}